.nunito-sans-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

body {
  font-family: "Nunito Sans", Calibri, sans-serif;
}

.scroll-margin {
  scroll-margin: 100px;
}

.navigation {
  background-color: #8C9CA5;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #ffffff;
  transition: border-bottom-color 1s ease-in-out;
  border-bottom: 2px solid #8C9CA5;
  padding-bottom: 2px;
}

.nav-link:hover {
  border-bottom-color: #ffffff;
}

.navbar-nav .nav-link.show {
  color: #ffffff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  transition: none;
}

.burger {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  border-radius: 2px;
  opacity: 50%;
}

.dropdown-menu {
  border-radius: 2px;
  border: 1px solid #BBC4CA;
}

.dropdown-item {
  color: #76848D;
}

.dropdown-item:hover {
  color: #76848D;
  background-color: #D2D9DF;
}

.dropdown-divider {
  border-top: 1px solid #BBC4CA;
}

.search-bar {
  background-color: #8C9CA5;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
}

.search-bar::-moz-placeholder {
  color: #ffffff;
  opacity: 30%;
  font-style: italic;
}

.search-bar::placeholder {
  color: #ffffff;
  opacity: 30%;
  font-style: italic;
}

.search-bar:focus {
  outline: 1px solid transparent;
  box-shadow: none;
  border-bottom: 2px solid #ffffff;
  background-color: #8C9CA5;
  caret-color: #ffffff;
  color: #ffffff;
}

.nav-button {
  background-color: #8C9CA5;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.nav-button:hover,
.nav-button:focus:not(:focus-visible) {
  background-color: #ffffff;
  color: #8C9CA5;
  border: 2px solid #ffffff;
}

.title-img {
  max-height: 350px;
}

.about-img-container {
  height: 300px;
  width: 100%;
}

.daily-special-img-container {
  height: 250px;
  width: 100%;
}

.carousel-container {
  height: 85vh;
  width: 100%;
}

.contacts-img-container {
  height: 350px;
  width: 100%;
}

@media (max-width: 1023px) {
  .about-img-container,
  .contacts-img-container {
    height: 50vh;
    width: 100%;
  }
}
.section-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.card {
  border: 1px solid #BBC4CA;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px #BBC4CA;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(60, 60, 60, 0.3960784314);
  background-color: rgba(60, 60, 60, 0.3960784314);
  padding: 30px 20px 30px 20px;
}

.accordion-item {
  border: var(--bs-accordion-border-width) solid #BBC4CA;
}

.accordion-item:first-of-type {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.career-link,
.career-link:link {
  text-decoration: none;
  font-weight: bold;
  color: #8C9CA5;
}

.career-link:visited,
.career-link:hover,
.career-link:active {
  color: rgba(67, 66, 66, 0.7607843137);
}

.contacts-form {
  border: 1px solid #BBC4CA;
  border-radius: 2px;
}

.contacts-form::-moz-placeholder {
  color: #BBC4CA;
  font-style: italic;
}

.contacts-form::placeholder {
  color: #BBC4CA;
  font-style: italic;
}

.buttons,
.buttons:hover,
.buttons:focus:not(:focus-visible) {
  background-color: #76848D;
  color: #ffffff;
  border-radius: 2px;
}

.footer-fill {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: #8C9CA5;
  color: #ffffff;
  font-size: 0.8em;
}
.footer-fill__copy {
  font-size: 0.8em;
}

.overlay {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(67, 66, 66, 0.7607843137);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.overlay__popup {
  margin: 75px auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #BBC4CA;
  width: 300px;
  box-shadow: 0 0 60px rgba(67, 66, 66, 0.7607843137);
  position: relative;
}
.overlay h2 {
  margin-top: 0;
  color: #8C9CA5;
}
.overlay__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #76848D;
}
.overlay__close:hover {
  opacity: 1;
}
.overlay__content {
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
}
.overlay p {
  margin: 0 0 1em;
}
.overlay p:last-child {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */